---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="mb-4 flex justify-center">
      <BackToTop />
    </div>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} • {SITE.TITLE}</div>
    </div>
    <div class="text-sm">
      Built using <a
        href="https://astro-micro.vercel.app/"
        class="underline"
        target="_blank">Astro Micro 🔬</a
      >
    </div>
  </Container>
</footer>
